server:
  servlet:
    context-path: /
  port: 8000
spring:
  application:
    name: retailer_service
  datasource:
    url: jdbc:postgresql://localhost:5433/auth-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true